/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
/**/
#products .thumbnail-container .product-thumbnail,
.featured-products .thumbnail-container .product-thumbnail,
.product-accessories .thumbnail-container .product-thumbnail,
.product-miniature .thumbnail-container .product-thumbnail {
    background-color: #EEE;
}

#products .thumbnail-container .product-thumbnail picture,
.featured-products .thumbnail-container .product-thumbnail picture,
.product-accessories .thumbnail-container .product-thumbnail picture,
.product-miniature .thumbnail-container .product-thumbnail picture {
    aspect-ratio: 2 / 3;
    display: block;
    mix-blend-mode: multiply;
}

#subcategories ul li .subcategory-name img {
    width: 125px !important;
}

/*header*/
@media (max-width: 767px) {
    #header .logo {
        max-width: 90px !important;
    }
}

/*home*/
.carousel .carousel-inner {
    height: auto;
}

#add-to-cart-or-refresh > div.product_add_to_cart > div > div > div:nth-child(5) {
    width: 100%;
    padding: 10px 20px 0px 10px !important;
    border: 1px solid #ebebeb;
    margin-top: 1em;
}

/*category*/
#products button.btn.btn-primary,
.featured-products button.btn.btn-primary,
.product-accessories button.btn.btn-primary,
.product-miniature button.btn.btn-primary {
    background-color: var(--button_p_bk) !important;
    color: var(--button_p_color);
    padding: 0 10px;
}

/*producto*/
#product .product_cover_thumbnails .product-cover,
#product .product_cover_thumbnails .splide__slide {
    background: #EEE;
}

#product .product_cover_thumbnails .product-cover img,
#product .product_cover_thumbnails .splide__slide img {
    mix-blend-mode: multiply;
}

#myModalLabel > svg {
    display: none;
}

.product_add_to_cart .product-quantity .add .add-to-cart {
    text-transform: uppercase!important;
}

/*footer*/
#footer > div.footer-container > div > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(2) {
    margin-top: 2em;
}